.btn[type="button"], .btn[type="submit"], .btn[type="reset"] {
    padding: 8px 24px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 25px 30px 0px rgba(var(--color-primary-rgb), 0.3);

    &:hover{
        filter: saturate(1.2);
    }

    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }

    svg{
        margin-left: 10px;
    }
}