:root{
    //Primary
    --color-primary: #8935F4;
    --color-primary-rgb: 137,53,244;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 51, 51, 51;

    //Light
    --color-light: #FFFFFF;
    --color-light-rgb: 255,255,255;
    --color-light-contrast: #000000;
    --color-light-contrast-rgb: 255,255,255;
    --color-light-shade: #BFBFBF;

    //Background
    --color-background: #F3F3F3;
    --color-background-rgb: 243,243,243;
    --color-background-contrast: #000000;
    --color-background-contrast-rgb: 0,0,0;

}