.input {
	width: 100%;

	label {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 3px;
	}

	.input-container {
		width: 100%;
		border: 1px solid var(--color-light-shade);
		border-radius: 8px;
        background-color: var(--color-light);

		input {
			flex: 1;
			width: 100%;
			padding: 8px 12px;
			border-radius: 8px;
		}

        .input-icon{
            width: 40px;
            height: 40px;
            text-align: center;

            &:hover{
                cursor: pointer;
                color: var(--color-primary);
            }
        }
	}
}
